<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
<title>Country Details</title>
</head>

<body>

	<script>
		function editCountry(name) {
			var getUrl = window.location;
			var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
			var countryName = name.id;
			var url = baseUrl+"/updateCountry/"+countryName;
			window.location.replace(baseUrl+"/updateCountry/"+countryName);
		}
	</script>
	
	<table>
		<tr>
			<th>Name</th>
			<th>Cases</th>
			<th>Deaths</th>
			<th>Recovered</th>
		</tr>

		<tr th:each="country:${countries}">
			<td th:text="${country.name}"></td>
			<td th:text="${country.cases}"></td>
			<td th:text="${country.deaths}"></td>
			<td th:text="${country.recovered}"></td>
			<td><button th:id="${country.name}" onclick="editCountry(this)" type="button">Edit</button></td>
		</tr>
	</table>

</body>

</html>
